<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - JM3IA</title>
    <script src="https://unpkg.com/lucide@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
     <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="{{ url_for('static', filename='css/output.css') }}" rel="stylesheet">
    {% block head %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
    {% include '_flash_messages.html' %}

    {% block content %}{% endblock %}

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    {% if request.path.startswith('/auth') %}
        <script src="{{ url_for('static', filename='js/auth.js') }}"></script>
    {% endif %}
    <script>
        lucide.createIcons();
    </script>
    {% block scripts %}{% endblock %}
</body>
</html>