{% extends 'layouts/Aheaderaside.html' %}

{{ 'Manage Members' }}

{% block extra_head %}{% endblock %}

{% block content %}
        <main>
            <div class="p-6">
                <div class="flex justify-between items-center  mb-6">
                    <div>
                        <h1 class="text-3xl font-bold text-gray-800">Workspace Management</h1>
                        <p class="text-gray-600">Manage your Workspace members and settings</p>
                    </div>
                    <div class="flex">
                        <button
                            class="bg-primary hover:bg-primary-dark text-white px-4 py-2 rounded-lg flex items-center">
                            <i class='bx bx-cog mr-2'></i>
                            <span>Workspace settings</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="p-6 bg-white rounded-2xl shadow-md ml-9 mr-9">
                <div class="flex justify-between items-center mb-4">
                    <div class="relative  w-96">
                        <h2 class="text-2xl font-bold text-gray-800 mb-1">Members</h2>
                        <p class="text-sm text-gray-500 mb-4">Manage your workspace members</p>
                    </div>
                    <button id="openModalBtn"
                        class="bg-primary hover:bg-primary-dark text-white text-sm px-4 py-2 rounded-lg">
                        + Add Member
                    </button>
                </div>


                <div class="flex justify-between items-center  mb-4">
                    <div class="relative  w-96">
                        <i class='bx bx-search absolute left-3 top-1/2 -translate-y-1/2 text-gray-400'></i>
                        <input type="text" placeholder="Search members.."
                            class="w-full pl-8 pr-4 py-2 rounded-lg border border-gray-200 focus:outline-none focus:border-primary-light">
                    </div>
<!--                    <div class="text-white text-sm px-4 py-2 ">-->
<!--                        <p class="text-gray-500">5 members</p>-->
<!--                    </div>-->
                </div>

                <div class="overflow-x-auto">
                    <table class="w-full text-left border-separate border-spacing-y-2">
                        <thead>
                            <tr class="text-gray-500 text-sm">
                                <th class="px-4 py-2">Member</th>
                                <th class="px-4 py-2">Role</th>
                                <th class="px-4 py-2">Status</th>
                                <th class="px-4 py-2">Joined</th>
                                <th class="px-4 py-2">Actions</th>
                            </tr>
                        </thead>
                        <tbody class="text-sm">
                            <!-- Example Row -->
                            {% for member in members %}
                                <tr class="bg-gray-50 rounded-lg" id="member-ahmed">
                                    <td class="flex items-center gap-3 px-4 py-3">
                                        <div
                                            class="bg-green-100 text-green-700 w-8 h-8 flex items-center justify-center rounded-full font-semibold">
                                            A
                                        </div>
                                        <div>
                                            <p class="font-medium">{{ member.full_name}}</p>
                                            <p class="text-gray-500 text-xs">{{ member.email }}</p>
                                        </div>
                                    </td>
                                    <td class="px-1 py-3 text-gray-700">
                                        <div class="flex items-center space-x-2">
                                            {% if member.role == 'Admin' %}
                                                <svg width="23" viewBox="0 0 48 48" fill="none" stroke="#3B82F6"
                                                    stroke-width="3.5" xmlns="http://www.w3.org/2000/svg">
                                                    <!-- Head -->
                                                    <circle cx="24" cy="14" r="6" />

                                                    <!-- Body -->
                                                    <path d="M12 36C12 30 18 26 24 26C30 26 36 30 36 36V38H12V36Z" />

                                                    <!-- Gear icon (top-right corner) -->
                                                    <g transform="translate(30, 4)" stroke="#3B82F6" fill="none"
                                                        stroke-width="2">
                                                        <circle cx="6" cy="6" r="3" />
                                                        <path
                                                            d="M6 0V2M6 10V12M0 6H2M10 6H12M2.2 2.2L3.6 3.6M8.4 8.4L9.8 9.8M2.2 9.8L3.6 8.4M8.4 3.6L9.8 2.2" />
                                                    </g>
                                                </svg>

                                                <span>Admin</span>
                                            {% elif member.role == 'Teacher' %}
                                                   <svg width="23" viewBox="0 0 48 48" fill="none" stroke="#3B82F6"
                                                        stroke-width="3.5" xmlns="http://www.w3.org/2000/svg">
                                                        <!-- Head -->
                                                        <circle cx="24" cy="14" r="6" />

                                                        <!-- Body -->
                                                        <path d="M12 36C12 30 18 26 24 26C30 26 36 30 36 36V38H12V36Z" />

                                                        <!-- Graduation cap -->
                                                        <g transform="translate(19, 6)" stroke="#3B82F6" stroke-width="2"
                                                            fill="none">
                                                            <!-- Cap top -->
                                                            <polygon points="5,0 15,4 5,8 -5,4" />
                                                            <!-- Tassel string -->
                                                            <line x1="5" y1="8" x2="5" y2="12" />
                                                            <!-- Tassel end -->
                                                            <circle cx="5" cy="13" r="1" fill="#3B82F6" />
                                                        </g>
                                                   </svg>
                                                <span>Teacher</span>
                                            {%else%}
                                                        <svg width="23" viewBox="0 0 48 48" fill="none" stroke="#3B82F6"
                                                            stroke-width="3.5" xmlns="http://www.w3.org/2000/svg">
                                                            <!-- Head -->
                                                            <circle cx="24" cy="14" r="6" />

                                                    <!-- Body -->
                                                            <path d="M12 36C12 30 18 26 24 26C30 26 36 30 36 36V38H12V36Z" />

                                                    <!-- Speech bubble icon (top-right corner) -->
                                                            <g transform="translate(30, 4)" stroke="#3B82F6" fill="none"
                                                                stroke-width="2">
                                                                <path d="M0 0H10V8H6L4 10L4 8H0V0Z" />
                                                            </g>
                                                        </svg>

                                                    <span>Delegate</span>
                                            {% endif %}
                                        </div>
                                    </td>

                                    <td class="px-4 py-3">
                                        <span
                                            class="bg-green-100 text-green-700 px-2 py-1 rounded-full text-xs font-medium">
                                            Active
                                        </span>
                                    </td>
                                    <td class="px-4 py-3 text-gray-600">{{ member.joined_at }}</td>
                                    <td class="ml-6 px-4 py-3">
                                        <div class="relative inline-block text-left">
                                            <!-- Toggle Button -->
                                            <button onclick="toggleDropdown(event,this)"
                                                class="text-gray-500 hover:text-gray-800 text-2xl font-bold">⋯</button>

                                            <!-- Dropdown Menu -->
                                            <div
                                                class="absolute right-0 mt-2 w-28 bg-white border border-gray-200 rounded-lg shadow-md hidden z-10 dropdown-menu ">
                                                <button onclick="handleEdit(this)"
                                                    class="block w-full px-4 py-2 text-left text-sm hover:bg-gray-100">Edit</button>
                                                <button onclick="handleDelete(this)"
                                                    class="block w-full px-4 py-2 text-left text-sm hover:bg-gray-100">Delete</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                 <!-- Modal Background -->
                <div id="modal" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center hidden">
                    <!-- Modal Window -->
                    <div class="bg-white rounded-lg shadow-lg max-w-md w-full p-6 relative">
                        <!-- Close Button -->
                        <button id="closeModalBtn" class="absolute top-3 right-3 text-gray-500 hover:text-gray-700">
                            &times;
                        </button>

                        <h2 class="text-xl font-semibold mb-4">Add New Member</h2>

                        <form method="POST" class="space-y-4">
                            <!-- User Address -->
                            {{ form.hidden_tag() }}
                            <div>
                                {{ form.email.label(class="block text-gray-700 font-medium mb-1") }}
                                {{ form.email(placeholder="Enter user email address", class="w-full border border-gray-300 rounded px-3 py-2 focus:outline-none focus:ring-2 focus:ring-green-500") }}
                            </div>

                            <!-- Role Selection -->
                            <div>
                                {{ form.role.label(class="block text-gray-700 font-medium mb-1") }}
                                {{ form.role(class="w-full border border-gray-300 rounded px-3 py-2 focus:outline-none focus:ring-2 focus:ring-green-500") }}
                            </div>

                            <!-- Submit Button -->
                            <div class="text-right">
                                {{ form.submit(class="mt-24 bg-green-600 text-white px-4 py-2 rounded hover:bg-green-700 transition") }}
                            </div>
                        </form>
                        {{ pending_invitations }}
                    </div>
                </div>
            </div>
        </main>
   {% endblock %}
{% block js %}
        const toggleBtn = document.getElementById("chatbotToggle");
        const chatbotWindow = document.getElementById("chatbotWindow");
        const closeBtn = document.getElementById("closeChatbot");

        toggleBtn.addEventListener("click", () => {
            chatbotWindow.classList.toggle("hidden");
        });

        closeBtn.addEventListener("click", () => {
            chatbotWindow.classList.add("hidden");
        });

        document.addEventListener('click', (e) => {
            if (!profileButton.contains(e.target) && !profileMenu.contains(e.target)) {
                profileMenu.classList.add('opacity-0', 'scale-95', 'translate-y-2');
                setTimeout(() => {
                    profileMenu.classList.add('invisible');
                }, 300);
                profileMenu.classList.remove('opacity-100', 'scale-100', 'translate-y-0');
            }
        });
        const profileButton = document.getElementById('profileButton');
        const profileMenu = document.getElementById('profileMenu');

        profileButton.addEventListener('click', () => {
            const isHidden = profileMenu.classList.contains('invisible');

            if (isHidden) {
                profileMenu.classList.remove('invisible', 'opacity-0', 'scale-95', 'translate-y-2');
                profileMenu.classList.add('opacity-100', 'scale-100', 'translate-y-0');
            } else {
                profileMenu.classList.add('opacity-0', 'scale-95', 'translate-y-2');
                setTimeout(() => {
                    profileMenu.classList.add('invisible');
                }, 300);
                profileMenu.classList.remove('opacity-100', 'scale-100', 'translate-y-0');
            }
        });

        document.addEventListener('click', (e) => {
            if (!profileButton.contains(e.target) && !profileMenu.contains(e.target)) {
                profileMenu.classList.add('opacity-0', 'scale-95', 'translate-y-2');
                setTimeout(() => {
                    profileMenu.classList.add('invisible');
                }, 300);
                profileMenu.classList.remove('opacity-100', 'scale-100', 'translate-y-0');
            }
        });
        function toggleWorkspaceModal() {
            const modal = document.getElementById('workspaceModal');
            modal.classList.toggle('hidden');
            modal.classList.toggle('flex');
        }

        function openNewWorkspaceModal() {
            toggleWorkspaceModal(); // hide current modal
            toggleNewModal();       // show new modal
        }

        function toggleNewModal() {
            const modal = document.getElementById('newWorkspaceModal');
            modal.classList.toggle('hidden');
            modal.classList.toggle('flex');
        }
        document.addEventListener("DOMContentLoaded", () => {
            const NoticeBtn = document.querySelector("noticeBtn");
            const noticeModal = document.getElementById("noticeModal");
            const closeNotice = document.getElementById("closeNotice");

            noticeBtn.addEventListener('click', () => {
                noticeModal.classList.toggle('hidden');
            });

            closeNotice.addEventListener('click', () => {
                noticeModal.classList.add('hidden');
            });

            document.addEventListener('click', (e) => {
                if (!noticeModal.contains(e.target) && !NoticeBtn.contains(e.target)) {
                    noticeModal.classList.add('hidden');
                }
            });
        });
        function toggleDropdown(event, button) {
            event.stopPropagation();

            // Close all dropdowns
            document.querySelectorAll('.dropdown-menu').forEach(el => el.classList.add('hidden'));

            // Find the corresponding dropdown next to this button
            const dropdown = button.parentElement.querySelector('.dropdown-menu');
            if (dropdown) {
                dropdown.classList.toggle('hidden');
            }
        }

        function handleEdit(button) {
            const memberRow = button.closest('tr');
            const memberName = memberRow.querySelector('p.font-medium').textContent;
            alert(`Edit clicked for ${memberName}`);
        }

        function handleDelete(button) {
            const memberRow = button.closest('tr');
            const memberName = memberRow.querySelector('p.font-medium').textContent;
            alert(`Delete clicked for ${memberName}`);
        }

        // Close dropdown when clicking outside
        document.addEventListener('click', () => {
            document.querySelectorAll('.dropdown-menu').forEach(el => el.classList.add('hidden'));
        });
        // Elements
        const openModalBtn = document.getElementById('openModalBtn');
        const closeModalBtn = document.getElementById('closeModalBtn');
        const modal = document.getElementById('modal');

        // Open modal on button click
        openModalBtn.addEventListener('click', () => {
            modal.classList.remove('hidden');
        });

        // Close modal on close button click
        closeModalBtn.addEventListener('click', () => {
            modal.classList.add('hidden');
        });

        // Close modal on clicking outside the modal content
        modal.addEventListener('click', (e) => {
            if (e.target === modal) {
                modal.classList.add('hidden');
            }
        });

        // Handle form submission (just prevent default here)
        document.getElementById('addMemberForm').addEventListener('submit', (e) => {
            e.preventDefault();
            // You can handle your form submission logic here

            // For now, just close the modal
            modal.classList.add('hidden');
            alert('Member added!');
        });
{% endblock %}